@model EquiposTecnicosSN.Entities.Mantenimiento.Repuesto

<div class="panel panel-@(ViewBag.PanelStyle != null ? ViewBag.PanelStyle : "default")">
    <div class="panel-heading"><i class="fa fa-gears fa-fw"></i> @ViewBag.Title</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </label>
                    <p class="form-control-static">
                        @Html.DisplayFor(model => model.Nombre)
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </label>
                    <p class="form-control-static">
                        @Html.DisplayFor(model => model.Codigo)
                    </p>
                </div>

                <div class="form-group">
                    <label>
                        @Html.DisplayNameFor(model => model.Costo)
                    </label>
                    <p class="form-control-static">
                        @(Model.Costo != null ? "$" : "") @Html.DisplayFor(model => model.Costo)
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        @Html.DisplayNameFor(model => model.Proveedor)
                    </label>
                    <p class="form-control-static">
                        @Html.DisplayFor(model => model.Proveedor.Nombre)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
