@model IEnumerable<EquiposTecnicosSN.Entities.Equipos.Info.Traslado>

    <table class="table table-hover table-responsive table-condensed table-striped">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaTraslado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UbicacionOrigenId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UbicacionDestinoId)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaTraslado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UbicacionOrigen.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UbicacionDestino.Nombre)
                    </td>
                </tr>
            }
        </tbody>

    </table>

