@model IPagedList<EquiposTecnicosSN.Entities.Equipos.Info.Marca>

@{
    ViewBag.Title = "Marcas de " + ViewBag.NombreFabricante;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-search fa-fw"></i> Buscar Marca</div>
            <div class="panel-body">
                <form id="formBuscarRepuestos" method="get" data-nqn-ajax="true" action="@Url.Action("Index", "Marcas")" data-nqn-target="#marcasList">
                    
                    <input type="hidden" name="fabricanteId" id="fabricanteId" value="@ViewBag.FabricanteId"/>
                    
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" style="margin-top: 5px;">Nombre</label>
                                <input type="text" id="searchNombre" name="searchNombre" class="form-control text-box single-line" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="buscarMarca" type="submit" value="Buscar" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-tag fa-fw"></i> Listado de @ViewBag.Title del fabricante: @ViewBag.NombreFabricante</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div id="marcasList">
                            @Html.Partial("_MarcasList", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Fabricantes")" class="btn btn-default"> Volver</a>
    </div>
</div>
