@using EquiposTecnicosSN.Entities.Mantenimiento
@using EquiposTecnicosSN.Web.DataContexts
@model EquiposTecnicosSN.Web.Models.MPViewModel
@{
    ViewBag.Title = "Nueva Orden de Trabajo para Mantenimiento Preventivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Odt.OrdenDeTrabajoId)
                    @Html.HiddenFor(model => model.Odt.EquipoId)
                    @Html.HiddenFor(model => model.Odt.Estado)
                    @Html.HiddenFor(model => model.Odt.NumeroReferencia)
                    @Html.HiddenFor(model => model.Odt.UsuarioInicio)
                    @Html.HiddenFor(model => model.Odt.UsuarioCreacion)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.Odt.NumeroReferencia)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.Odt.NumeroReferencia)
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.Odt.Equipo)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.Odt.Equipo.NombreCompleto)
                                </p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Odt.Checklist)
                                @Html.DropDownListFor(model => model.Odt.ChecklistId, (SelectList)ViewBag.ChecklistId, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Odt.Checklist, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Odt.FechaInicio)
                                @Html.EditorFor(model => model.Odt.FechaInicio, new { htmlAttributes = new { @class = "form-control date-picker" } })
                                @Html.ValidationMessageFor(model => model.Odt.FechaInicio, "", new { @class = "text-danger" })
                            </div>
                                
                            <div class="form-group">
                                <label>
                                </label>
                                <p class="form-control-static">
                                    &nbsp;
                                </p>
                            </div>

                            <div class="form-group">
                                <label class="control-label switch-label">Prioridad</label>
                                <div class="form-control-static"  style="padding-top: 0;">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success-outline active">
                                            @Html.RadioButtonFor(model => model.Odt.Prioridad, OrdenDeTrabajoPrioridad.Normal, new { @id = "Normal", @name = "Prioridad" })
                                            @OrdenDeTrabajoPrioridad.Normal.ToString()
                                        </label>
                                        <label class="btn btn-warning-outline">
                                            @Html.RadioButtonFor(model => model.Odt.Prioridad, OrdenDeTrabajoPrioridad.Urgencia, new { @id = "Urgencia", @name = "Prioridad" })
                                            @OrdenDeTrabajoPrioridad.Urgencia.ToString()
                                        </label>
                                        <label class="btn btn-danger-outline">
                                            @Html.RadioButtonFor(model => model.Odt.Prioridad, OrdenDeTrabajoPrioridad.Emergencia, new { @id = "Emergencia", @name = "Prioridad" })
                                            @OrdenDeTrabajoPrioridad.Emergencia.ToString()
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @Html.Partial("_ListObservaciones", Model.Odt)
                    @Html.Partial("_AddObservaciones", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a href="@Url.Action("Details", "EquiposBase",new { id = Model.Odt.EquipoId})" class="btn btn-default" style="margin-bottom:5px;">Cancelar</a>
                <input type="submit" name="action" value="Guardar" class="btn btn-primary" style="margin-bottom:5px;" />
            </div>
        </div>
    </div>
}
