@using EquiposTecnicosSN.Entities.Mantenimiento
@model OrdenDeTrabajoMantenimientoCorrectivo
@{
    ViewBag.Title = "Orden de Trabajo Nº " + Model.OrdenDeTrabajoId+ " para Mantenimiento Correctivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-wrench fa-fw"></i> @ViewBag.Title</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.OrdenDeTrabajoId)
                    @Html.HiddenFor(model => model.Estado)
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Equipo, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("EquipoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EquipoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.OrdenDeTrabajoId)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.OrdenDeTrabajoId)
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.Equipo)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.Equipo.InformacionHardware.Modelo.Nombre)
                                </p>
                            </div>
                            <div class="form-group">
                                <label class="control-label switch-label">¿El equipo se encuentra parado?</label>
                                @Html.EditorFor(model => model.EquipoParado, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="control-label switch-label">¿El equipo posee un reemplazo?</label>
                                @Html.EditorFor(model => model.EquipoRemplazo, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.FechaInicio)
                                    @Html.HiddenFor(model => model.FechaInicio)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.FechaInicio)
                                </p>
                            </div>
                            <div class="form-group">

                            </div>
                            <div class="form-group">
                                <label class="control-label switch-label">Prioridad</label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success-outline active">
                                        @Html.RadioButtonFor(model => model.Prioridad, OrdenDeTrabajoPrioridad.Normal, new { @id = "Normal", @name = "Prioridad" })
                                        @OrdenDeTrabajoPrioridad.Normal.ToString()
                                    </label>
                                    <label class="btn btn-warning-outline">
                                        @Html.RadioButtonFor(model => model.Prioridad, OrdenDeTrabajoPrioridad.Urgencia, new { @id = "Urgencia", @name = "Prioridad" })
                                        @OrdenDeTrabajoPrioridad.Urgencia.ToString()
                                    </label>
                                    <label class="btn btn-danger-outline">
                                        @Html.RadioButtonFor(model => model.Prioridad, OrdenDeTrabajoPrioridad.Emergencia, new { @id = "Emergencia", @name = "Prioridad" })
                                        @OrdenDeTrabajoPrioridad.Emergencia.ToString()
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control", rows = "5" })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-default" style="margin-bottom:5px;"> Volver</a>
                <input type="submit" name="action" value="Guardar" class="btn btn-primary" style="margin-bottom:5px;" />
                <input type="submit" name="action" value="Guardar y diagnosticar" class="btn btn-info" style="margin-bottom:5px;" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Observaciones, htmlAttributes: new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}